@CHARSET "ISO-8859-1";

html {
	background: url(/Images/photo5999178141614057464.jpg) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white-background {
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	background-color: white;
	border-radius: 0.4cm;
	margin-left: 10%;
}

.owlogo {
	text-align: center;
}

h1, p {
	font-family: sans-serif;
}

form input[type=text] {
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border: thin groove;
	font-family: sans-serif;
}

form button {
	display: block;
	width: 20%;
	height: 20px;
	margin: 0 auto;
	border: thin outset;
	font-family: sans-serif;
}

.division {
	margin: 10px;
	border-top: thin solid grey;
}