@CHARSET "ISO-8859-1";

html {
	background: url(/Images/photo5999178141614057464.jpg) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin-top: 3%
}

.white-background {
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	background-color: white;
	border-radius: 0.4cm;
}

.logo {
	float: left;
	width: 70%;
	display: block;
	margin: 0 auto;
}

.searchAgain {
	width: 100%;
}

.summonerSearch {
	float: right;
	padding: 50px;
}

.searchButton {
	display: block;
	width: 20%;
	height: 30px;
	margin: 0 auto;
	border: thin outset;
	font-family: sans-serif;
}

.division {
	margin-top: 10px;
	border-top: thin solid grey;
}

.profile {
	margin-top: 5px;
	text-align: center;
}

.profileInfo {
	display: inline-block;
	width: 100%;
}

.updateButton, .liveGameButton {
	border: 2px solid black;
	background: goldenRod;
	color: black;
	padding: 10px 14px;
	border-radius: 1cm;
}

.buttonMenu {
	width: 100%;
	margin-top: 10px;
	display: inline-table;
	text-align: center;
	position: relative;
}

.buttonMenu button {
	border: 2px solid black;
	background: goldenRod;
	color: white;
	padding: 10px 14px;
}

.buttonMenu button:not(:last-child) {
	border-right: none;
}