@CHARSET "ISO-8859-1";

table {
	width: 100%;
}

th {
	height: 50px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-family: "Arial";
	background-color: #4CAF50;
	color: white;
}

td {
	border-bottom: 1px solid #ddd;
	font-family: "Arial";
}

h1 {
	font-family: "Arial";
	font-style: oblique;
}

p {
	font-family: "Arial";
}